body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
      grid-template-areas: "violet-card" "darkgray-blue" "white-first" "darkblack-blue" "white-last";
  gap: 2rem;
  width: 90%;
  margin: 2rem auto;
}

@media (min-width: 50em) {
  .container {
    width: 60em;
    max-width: 90%;
        grid-template-areas: "violet-card violet-card" "darkgray-blue white-last" "white-first white-last" "darkblack-blue darkblack-blue";
  }
}

@media (min-width: 77em) {
  .container {
    -ms-flex-line-pack: center;
        align-content: center;
    width: 80em;
    max-width: 95%;
        grid-template-areas: "violet-card violet-card darkgray-blue white-last" "white-first darkblack-blue darkblack-blue white-last";
  }
}

.card {
  background: #48556a;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(50, 55, 87, 0.1);
          box-shadow: 0px 0px 20px 3px rgba(50, 55, 87, 0.1);
  border-radius: 1.2rem;
  color: white;
}

.card__picture {
  border-radius: 50%;
}

.card__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

.card__name {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.card__graduation {
  font-size: .9rem;
  opacity: 50%;
}

.card__title {
  position: relative;
  z-index: 20;
  font-size: 1.4rem;
  font-weight: 600;
}

.card__review {
  opacity: 70%;
}

.bg-quote {
  position: relative;
}

.bg-quote::before {
  position: absolute;
  top: 0px;
  right: 15px;
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  font-size: 8rem;
  font-weight: 900;
  opacity: .3;
  color: #cbb8ea;
}

.attribution {
  font-size: .8rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  opacity: .7;
}

.attribution a {
  text-decoration: none;
  color: #273a86;
  font-weight: bolder;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.attribution a:hover {
  color: #6b6ec7;
}

.violet-card {
  background: #7541c8;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: violet-card;
}

.darkgray-blue-card {
  background: #48556a;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: darkgray-blue;
}

.white-card {
  background: white;
  color: #48556a;
}

.white-fisrt {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: white-first;
}

.white-last {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: white-last;
}

.darkblack-blue-card {
  background: #19212e;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: darkblack-blue;
}
/*# sourceMappingURL=main.css.map */